/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Utilities */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
}

.position-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.col-right {
  float: right;
}
.col {
  float: left;
}

.vis-hid {
  visibility: hidden;
}
.display-ib {
  display: inline-block;
}
.display-b {
  display: block;
}
.text-center {
  text-align: center;
}
.v-a-bottom {
  vertical-align: bottom;
}
.v-a-middle {
  vertical-align: middle;
}
.underline {
  text-decoration: underline;
}
.lh-30px {
  line-height: 30px;
}
.border-botblack3:hover {
  border-bottom: 3px solid black;
}
.font-17px {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
.font-16px {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.font-40px {
  font-size: 40px;
}
.font-white {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.font-grey {
  color: #999999;
}
.font-black {
  color: black;
  font-weight: 500;
}
.font-wgt700 {
  font-weight: 700;
}
.underline-grey {
  text-decoration: 2px underline #808080;
}
.light-border {
  border: 1px solid #d0d0d3;
}
.underline-cc {
  text-decoration: underline;
}

.row {
  width: 100%;
}
.marg-0-auto {
  margin: 0 auto;
}
.marg-tbneg20 {
  margin: -20px 0;
}
.marg-neg60 {
  margin: 0 -60px;
}
.marg-bot150 {
  margin-bottom: 150px;
}
.marg-bot100 {
  margin-bottom: 100px;
}
.marg-bot40 {
  margin-bottom: 40px;
}
.marg-bot30 {
  margin-bottom: 30px;
}
.marg-bot20 {
  margin-bottom: 20px;
}
.marg-bot10 {
  margin-bottom: 10px;
}
.marg-0-30 {
  margin: 0 30px;
}
.marg-side60 {
  margin: 0 60px;
}
.marg-top200 {
  margin-top: 200px;
}
.marg-top150 {
  margin-top: 150px;
}
.marg-top100 {
  margin-top: 100px;
}
.marg-top50 {
  margin-top: 50px;
}
.marg-top40 {
  margin-top: 40px;
}
.pad-100 {
  padding: 0 100px;
}

.pad-20 {
  padding: 0 20px;
}
.h-100 {
  height: 100px;
}
.h-100perc {
  height: 100%;
}
.h-33 {
  height: 33%;
}
.h-30 {
  height: 30px;
}
.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: calc(33.33% - 120px);
  margin: 20px 60px;
}
.w-40 {
  width: calc(40% - 40px);
  margin: 150px 20px;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: calc(60% - 40px);
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}
.w-calc100 {
  width: calc(100%-100px);
}

.blue.button:hover {
  filter: brightness(120%);
}
.black-white-button:hover {
  filter: brightness(85%);
}

.button {
  display: inline-block;
  line-height: 30px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.blue {
  background-color: #0061ff;
}
.text-align {
  position: relative;
  text-align: center;
}
ul {
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

/* Header --------------------------------------------*/

header {
  position: fixed;
  background-color: white;
  height: 100px;
  width: 100%;
  z-index: 1;
}
img[title^="dropbox"] {
  vertical-align: middle;
}

.lside {
  width: calc(50% - 20px);
  margin: 0 10px;
  text-align: left;
  line-height: 100px;
}

.rside {
  width: calc(50% - 40px);
  margin: 0 20px;
  text-align: right;
  line-height: 100px;
}

.box-tendina {
  width: 100px;
  background-color: white;
  display: none;
}
li.tendina:hover .box-tendina {
  display: block;
}
.option-tendina:hover span {
  filter: brightness(80%);
  background-color: white;
}

div.option-tendina span {
  line-height: 40px;
  width: 100%;
}

/* Spotlight --------------------------------------------*/

.spotlight {
  height: 850px;
  background-color: #b4d0e7;
  padding: 0 20px;
  position: relative;
}

.spotlight h1 {
  display: inline-block;
  width: 100%;
  font-size: 80px;
  font-weight: 700;
}

.spotlight-text {
  width: calc(30% - 50px);
  margin-top: 50px;
  margin-right: 50px;
  position: relative;
}

.spotlight-img {
  width: calc(70% - 50px);

  margin-top: 50px;
  margin-left: 50px;
}

/* Spotlight content */

div.col.spotlight-text p {
  display: inline-block;
  margin-bottom: 40px;
}

div.col.spotlight-text span {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 50px;
}

.arrow-down-spotlight {
  display: block;
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 40px;
}

/* Price content --------------------------------------------*/

#price {
  position: relative;
  padding: 0 20px;
}

/* Deals */

/* Deals Utilities */

.deal-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 5px solid #0061ff;
}
/* Col Content */

.client-type {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #d0d0d3;
  width: 100%;
}
.user-type {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 100px;
}

div.position-rel.user-type i.user-type-icon {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.plan-name {
  font-size: 25px;
  font-weight: 900;
}

section.costs span:nth-last-child(1) {
  color: #637381;
}

.costs {
  line-height: 30px;
}

.info {
  margin-top: 40px;
}
.info-points {
  position: relative;
  display: block;
  padding-left: 1.2em;
  font-weight: 600;
  margin: 15px 0px;
}

i.icon-side-pos {
  position: absolute;
  display: inline-block;
  left: -3px;
  top: 3px;
}

div.w-90.display-b span {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
}

section.info + a.blue.button.prova-gratis {
  text-align: center;
}

.buy-now {
  display: inline-block;
  margin: 30px 0;
}

div.col.w-30.light-border div.deal-container hr + h4 {
  margin-top: 50px;
  margin-bottom: 30px;
}

div.col.w-30.light-border div.deal-container h4 + ul {
  list-style-position: none;
  margin-bottom: 150px;
}

.plan-points {
  position: relative;
  display: block;
  padding-left: 1em;
  font-size: 13px;
  font-weight: 600;
  margin: 15px 0px;
}
i.fas.fa-check {
  position: absolute;
  display: inline-block;
  left: -3px;
  top: 3px;
  color: #0061ff;
}

/* Col bottom */

.uff-vendite {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 30px;
  text-align: center;
}

/* Partner  --------------------------------------------*/

#partner-img,
#partner-desc {
  margin: 150px 0;
}

.black-white-button {
  color: black;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
}

#partner {
  position: relative;
  padding: 0 20px;
}

/* Dropbox Business --------------------------------------------*/
#dropbox-business {
  position: relative;
  padding: 0 20px;
}

div.col.w-30 img {
  width: 100%;
  height: 50%;
}

/* Dropbox Business Clients */
#dropbox-business-clients {
  margin-top: 200px;
}

.square {
  transition: 1s;
  position: relative;
  height: 50%;
}

.clients-logos {
  width: 30%;
  height: 30vw;
}
.clients-review {
  width: 40%;
  height: 30vw;
  background-color: lightgray;
}

.designit-box {
  background-color: #a2d39b;
}
.uf-florida-box {
  background-color: #0093ce;
}
.asu-box {
  background-color: #61082b;
}
.topps-box {
  background-color: #ff1c1c;
}
.wbr-box {
  background-color: #d5001f;
}
.lonelyp-box {
  background-color: #0d2481;
}
.hearts-box {
  background-color: #b4d0e7;
}
.cco-box {
  background-color: #ffd830;
}

div.square img {
  position: absolute;
  filter: invert(1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

div.square:hover {
  border: 15px solid rgba(255, 255, 255, 0.623);
  transform: scale(1.1);
  z-index: 1;
}

div.col.pad-100 img {
  width: 130px;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* Join Dropbox */
#join-db {
  background-color: #b4d0e7;
  position: relative;
}

#bring-someone {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  font-size: 40px;
  color: #61082b;
  font-weight: bolder;
}

#bring-button {
  padding: 5px 60px;
  margin-left: 40px;
  border: none;
}

div#join-db div.w-40.display-ib {
  text-align: justify;
}

/* FAQ section --------------------------------------------*/

#faq {
  position: relative;
}

i.fas.fa-chevron-down {
  position: absolute;
  right: 280px;
  line-height: 80px;
}

.faq-questions {
  width: 1400px;
  line-height: 80px;
}
ul.faq-questions li {
  text-align: justify;
  vertical-align: middle;
  font-weight: bolder;
}

h3.marg-40.marg-top150 {
  font-size: 30px;
}

/* Footer --------------------------------------------*/

footer {
  background-color: black;
}

.footer-link {
  color: white;
  display: block;
  line-height: 30px;
  font-weight: 200;
}

li.footer-link a:link,
li.footer-link a:visited {
  color: white;
}

.country {
  height: 100px;
  line-height: 100px;
}
div.country span {
  font-weight: 200;
}
